#!/bin/sh
/sbin/ip link set dev $INTERFACE up
/sbin/ip addr add dev $INTERFACE {{ bgp[icvpn_hostname].ipv4 }} broadcast 10.207.255.255 scope link
/sbin/ip -6 addr add dev $INTERFACE {{ bgp[icvpn_hostname].ipv6 }} preferred_lft 0
